In [2]:
import pandas as pd

In [3]:
DataFrame=pd.read_csv('forestfires.csv')
DataFrame

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

# Subset
### Required to done by Classes here but not implemented in that way

In [5]:
Subset1=DataFrame[DataFrame['area']>=0.50]
Subset1

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
141  1  2   aug  wed  95.5   99.9  513.3  13.2  23.3  31   4.5   0.0   0.55
142  8  6   aug  fri  90.1  108.0  529.8  12.5  21.2  51   8.9   0.0   0.61
143  1  2   jul  sat  90.0   51.3  296.3   8.7  16.6  53   5.4   0.0   0.71
144  2  5   aug  wed  95.5   99.9  513.3  13.2  23.8  32   5.4   0.0   0.77
145  6  5   aug  thu  95.2  131.7  578.8  10.4  27.4  22   4.0   0.0   0.90
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
505  1  2   aug  thu  91.0  163.2  744.4  10.1  26.7  35   1.8   0.0   5.80
509  5  4   aug  fri  91.0  166.9  752.6   7.1  21.1  71   7.6   1.4   2.17
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16

[260 rows x 13 columns]

In [9]:
Subset2=DataFrame[DataFrame['area']<0.50]
Subset2

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0  0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0  0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0  0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2  0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0  0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...   ...
508  1  2   aug  fri  91.0  166.9  752.6   7.1  25.9  41   3.6   0.0  0.00
510  6  5   aug  fri  91.0  166.9  752.6   7.1  18.2  62   5.4   0.0  0.43
511  8  6   aug  sun  81.6   56.7  665.6   1.9  27.8  35   2.7   0.0  0.00
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0  0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0  0.00

[257 rows x 13 columns]

# Merge

In [10]:
Merged=pd.concat([Subset1,Subset2])
Merged

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain  area
141  1  2   aug  wed  95.5   99.9  513.3  13.2  23.3  31   4.5   0.0  0.55
142  8  6   aug  fri  90.1  108.0  529.8  12.5  21.2  51   8.9   0.0  0.61
143  1  2   jul  sat  90.0   51.3  296.3   8.7  16.6  53   5.4   0.0  0.71
144  2  5   aug  wed  95.5   99.9  513.3  13.2  23.8  32   5.4   0.0  0.77
145  6  5   aug  thu  95.2  131.7  578.8  10.4  27.4  22   4.0   0.0  0.90
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...   ...
508  1  2   aug  fri  91.0  166.9  752.6   7.1  25.9  41   3.6   0.0  0.00
510  6  5   aug  fri  91.0  166.9  752.6   7.1  18.2  62   5.4   0.0  0.43
511  8  6   aug  sun  81.6   56.7  665.6   1.9  27.8  35   2.7   0.0  0.00
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0  0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0  0.00

[517 rows x 13 columns]

# Sort

In [11]:
Sorted1=DataFrame.sort_values('temp')
Sorted1

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
280  4  6   dec  fri  84.7   26.7  352.6   4.1   2.2  59   4.9   0.0   9.27
282  6  3   feb  sun  84.9   27.5  353.5   3.4   4.2  51   4.0   0.0   0.00
279  4  4   dec  mon  85.4   25.4  349.7   2.6   4.6  21   8.5   0.0   9.77
278  4  4   dec  mon  85.4   25.4  349.7   2.6   4.6  21   8.5   0.0  22.03
277  3  4   dec  mon  85.4   25.4  349.7   2.6   4.6  21   8.5   0.0  10.73
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
491  4  4   aug  thu  95.8  152.0  624.1  13.8  32.4  21   4.5   0.0   0.00
492  1  3   aug  fri  95.9  158.0  633.6  11.3  32.4  27   2.2   0.0   0.00
496  4  5   aug  mon  96.2  175.5  661.8  16.8  32.6  26   3.1   0.0   2.77
484  2  5   aug  sun  94.9  130.3  587.1  14.1  33.1  25   4.0   0.0  26.43
498  6  5   aug  tue  96.1  181.1  671.2  14.3  33.3  26   2.7   0.0  40.54

[517 rows x 13 columns]

In [12]:
Sorted2=DataFrame.sort_values('wind')
Sorted2

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
249  3  4   aug  wed  93.1  157.3  666.7  13.5  21.7  40   0.4   0.0   2.47
258  3  4   aug  sat  91.8  170.9  692.3  13.7  20.6  59   0.9   0.0   0.00
83   1  2   aug  wed  92.1  111.2  654.1   9.6  16.6  47   0.9   0.0   0.00
85   1  2   sep  thu  92.9  137.0  706.4   9.2  21.5  15   0.9   0.0   0.00
129  2  5   oct  sun  92.6   46.5  691.8   8.8  15.4  35   0.9   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
142  8  6   aug  fri  90.1  108.0  529.8  12.5  21.2  51   8.9   0.0   0.61
411  7  4   feb  fri  84.6    3.2   43.6   3.3   8.2  53   9.4   0.0   4.62
469  6  3   apr  sun  91.0   14.6   25.6  12.3  13.7  33   9.4   0.0  61.13
475  2  5   jun  thu  93.7  121.7  350.2  18.0  22.7  40   9.4   0.0   3.19
168  6  5   mar  fri  91.2   48.3   97.8  12.5  14.6  26   9.4   0.0   2.53

[517 rows x 13 columns]

In [13]:
Sorted2=DataFrame.sort_values('area')
Sorted2

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain     area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0     0.00
298  8  6   jun  wed  91.2  147.8  377.2  12.7  19.6  43   4.9   0.0     0.00
299  6  5   jun  sat  53.4   71.0  233.8   0.4  10.6  90   2.7   0.0     0.00
300  6  5   jun  mon  90.4   93.3  298.1   7.5  20.7  25   4.9   0.0     0.00
302  3  6   jun  fri  91.1   94.1  232.1   7.1  19.2  38   4.5   0.0     0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...      ...
236  2  2   sep  sat  92.5  121.1  674.4   8.6  18.2  46   1.8   0.0   200.94
237  1  2   sep  tue  91.0  129.5  692.6   7.0  18.8  40   2.2   0.0   212.88
479  7  4   jul  mon  89.2  103.9  431.6   6.4  22.6  57   4.9   0.0   278.53
415  8  6   aug  thu  94.8  222.4  698.6  13.9  27.5  27   4.9   0.0   746.28
238  6  5   sep  sat  92.5  121.1  674.4   8.6  25.1  27   4.0   0.0  1090.84

[517 rows x 13 columns]

# Transpose

In [14]:
DataFrame.T

,0,1,2,3,4,5,6,7,8,9,...,507,508,509,510,511,512,513,514,515,516
X,7,7,7,8,8,8,8,8,8,7,...,2,1,5,6,8,4,2,7,1,6
Y,5,4,4,6,6,6,6,6,6,5,...,4,2,4,5,6,3,4,4,4,3
month,mar,oct,oct,mar,mar,aug,aug,aug,sep,sep,...,aug,aug,aug,aug,aug,aug,aug,aug,aug,nov
day,fri,tue,sat,fri,sun,sun,mon,mon,tue,sat,...,fri,fri,fri,fri,sun,sun,sun,sun,sat,tue
FFMC,86.2,90.6,90.6,91.7,89.3,92.3,92.3,91.5,91.0,92.5,...,91.0,91.0,91.0,91.0,81.6,81.6,81.6,81.6,94.4,79.5
DMC,26.2,35.4,43.7,33.3,51.3,85.3,88.9,145.4,129.5,88.0,...,166.9,166.9,166.9,166.9,56.7,56.7,56.7,56.7,146.0,3.0
DC,94.3,669.1,686.9,77.5,102.2,488.0,495.6,608.2,692.6,698.6,...,752.6,752.6,752.6,752.6,665.6,665.6,665.6,665.6,614.7,106.7
ISI,5.1,6.7,6.7,9.0,9.6,14.7,8.5,10.7,7.0,7.1,...,7.1,7.1,7.1,7.1,1.9,1.9,1.9,1.9,11.3,1.1
temp,8.2,18.0,14.6,8.3,11.4,22.2,24.1,8.0,13.1,22.8,...,25.9,25.9,21.1,18.2,27.8,27.8,21.9,21.2,25.6,11.8
RH,51,33,33,97,99,29,27,86,63,40,...,41,41,71,62,35,32,71,70,42,31
wind,6.7,0.9,1.3,4.0,1.8,5.4,3.1,2.2,5.4,4.0,...,3.6,3.6,7.6,5.4,2.7,2.7,5.8,6.7,4.0,4.5
rain,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0
area,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.17,0.43,0.0,6.44,54.29,11.16,0.0,0.0

# Melt

In [15]:
Melt=pd.melt(DataFrame,id_vars=['month','day','temp'],var_name='Metric',value_name='value')
Melt

     month  day  temp Metric  value
0      mar  fri   8.2      X   7.00
1      oct  tue  18.0      X   7.00
2      oct  sat  14.6      X   7.00
3      mar  fri   8.3      X   8.00
4      mar  sun  11.4      X   8.00
...    ...  ...   ...    ...    ...
5165   aug  sun  27.8   area   6.44
5166   aug  sun  21.9   area  54.29
5167   aug  sun  21.2   area  11.16
5168   aug  sat  25.6   area   0.00
5169   nov  tue  11.8   area   0.00

[5170 rows x 5 columns]

# Casting

In [16]:
Casting=pd.pivot_table(DataFrame,index=['month','day','temp'],values='area')
Casting

                  area
month day temp
apr   fri 16.7   0.000
      mon 10.9   3.350
      sat 9.3    0.000
      sun 13.4   0.000
          13.7  61.130
...                ...
sep   wed 21.8   6.040
          21.9   2.570
          24.3   4.705
          25.9   0.000
          26.4  44.245

[455 rows x 1 columns]

# End